.list {
  width: 2.2rem;
  margin: .2rem auto;
}
.list li {
  display: inline-block;
  height: .35rem;
  line-height: .35rem;
  padding: 0 .1rem;
  background: #f1f1f1;
  border: 1px solid #ccc;
  margin: 0 .05rem .05rem 0;
}
.list img {
  vertical-align: text-bottom;
}
.list a {
  color: #000;
}
